@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}
body {
  display: block;
  color: #252525;
  padding: 32px;
  padding-bottom: 60px;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  border-bottom: 16px solid #edc84b;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
  align-items: center;
}
h1 {
  align-self: stretch;
}
h1 {
  color: #edc84b;
  display: block;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

h1::before,
h1::after {
  background-color: #edc84b;
  content: "";
  display: inline-block;
  height: 3px;
  width: 40px;
  position: absolute;
  top: calc(50% - 1px);
}
h1::before {
  left: 0;
}
h1::after {
  right: 0;
}
.h1 {
  align-self: center;
}
.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 24px;
  display: inline-block;
  font-weight: 500;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 10px 0;
}
.menu > p {
  line-height: 24px;
  font-size: 15px;
  text-align: center;
  width: 60%;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  width: 60%;
}
.menu-items .menu-item {
  display: flex;
  gap: 32px;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
  margin-bottom: 48px;
  width: 600px;
}
.menu-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0;
  height: 100px;
  margin-right: 48px;
}
img {
  width: 120px;
}
.name {
  font-size: 20px;
  font-weight: 400;
}
.ingredients {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}
.menu-items__item-1 {
  order: 0;
}
.menu-items__item-2 {
  order: 2;
}
.menu-items__item-3__sold-out {
  order: 4;
  color: #888;
}
.menu-items__item-3__sold-out img {
  filter: grayscale();
  opacity: 0.8;
}
.menu-items__item-3__sold-out .price {
  text-transform: uppercase;
}

.menu-items__item-4 {
  order: 1;
}
.menu-items__item-5 {
  order: 3;
}
.menu-items__item-6 {
  order: 6;
}

.footer {
  margin: 0 auto;
  font-size: 14px;
}
.order {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #edc84b;
  padding: 14px 32px;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1.5px;
}
.btn:hover {
  background-color: #e9bb24;
}
